<!DOCTYPE html>
<html>
  <head>
    <title>Second-hand Market</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Second-hand Market</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">Buy</a> |
          <a href="{{ url_for('create')}}">Sell</a> |
          <a href="{{ url_for('search')}}">Search</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/dbdesign-students-spring2024/7-web-app-Ruojin-song/blob/main/app.py"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
