{% extends 'base.html' %} 
{% block container %}
<h2>READ</h2>
<p>Here are the information of product.</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Product ID: <input type="text" id="product_id" name="product_id" /><br /></p>
  <p>Product Type: <input type="text" id="product_type" name="product_type" /><br /></p>
  <p>Description of product: <textarea id="product_description" name="product_description"></textarea></p>
  <p>Price of product: <input type="text" id="product_price" name="product_price" /></p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
